*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
.rspec_status
vendor/bundle
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.kitchen
*.sw?
*~
.direnv/
.envrc
.ruby-version
.ruby-gemset